body {
    margin: 0;
    display: flex;
    /* width: 100vw; */
    padding: 1rem;
    width: fit-content;
    justify-content: center;
    align-items: flex-start;
}
#graphs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.selections {
    padding-left: 20px;
}
strong {
    display: flex;
    width: 130px;
    justify-content: space-between;
}

h1 {
    
}
